.App {
  text-align: center;
  background-image: url("/public/images/background2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -4px;
}



.nav {
  background-color:rgba(0,0,20,0.2);
  backdrop-filter:blur(40px);
}



.wdo {
  border: 20px solid transparent;
  border-image: url("/public/images/wdblock.svg") 30 stretch;
  min-width: 250px;
  max-width: 750px;

}
.wdo2 {
  border: 20px solid transparent;
  border-image: url("/public/images/wdblock.svg") 30 stretch;
  min-width: 250px;
  
}

.contact {
  border: 25px solid transparent;
  border-image: url("/public/images/wdblock.svg") 30 stretch;
  min-width: 540px;
  max-width: 850px;
  padding: 10px;
}



.projectsct{
  background-image: url("/public/images/projectbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.btn{
  background-color: transparent;
  border: 20px solid transparent;
  border-image: url("/public/images/wdblock.svg") 20 stretch;
}

.cbtn{
  background-color: transparent;
  border: 10px solid transparent;
  border-image: url("/public/images/wdblock.svg") 17 stretch;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
